In [3]:
import pandas as pd
import numpy as np

pandas indexing 방법은 크게 <font color=red>. operator</font>와 <font color=red>[] opeartor</font>로 나뉜다.<br>
[] 연산자는 pyyhon에서 광범위하게 사용되는 연산자이며, . 연산자는 보다 편리한 인덱싱 기능을 제공한다.<br><br>
. 연산자는 다시 .iloc와 .loc 연산자로 나뉜다.<br>
<table align="left", font_size="80%">
  <tr>
    <th style="text-align: left", width="20%">Operator</th>
    <th style="text-align: left", width="40%">Usage</th>
    <th style="text-align: left", width="50%">Sample</th>
  </tr>
  <tr>
    <td style="text-align: center">[]</td>
    <td style="text-align: left">Column indexing, Row indexing</td>
    <td style="text-align: left">df_sample["Col_A"] / df_sample[1:4]</td>
  </tr>
  <tr>
    <td style="text-align: center">.iloc</td>
    <td style="text-align: left">Row indexing by row order</td>
    <td style="text-align: left">df_result.iloc[:10]</td>
  </tr>
  <tr>
    <td style="text-align: center">.loc</td>
    <td style="text-align: left">Row indexing by index name</td>
    <td style="text-align: left">df_result.loc["a":"f"]</td>
  </tr>    
</table>

#### 0. Selection by callable

<h3>Different choices for indexing</h3><br>

#### 0. Indexing with [] : 저차원 slice 반환
| Object Type | Indexers | Return Value Type |
| :- | :- | :- |
| Series | series[label] | scalar value |
| DataFrame | frame[colname] | Series corresponding to colname |

In [12]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

df

                   A         B         C         D
2000-01-01 -1.954537  0.528818  0.460206  0.179894
2000-01-02  0.352191 -0.291922 -0.321364  0.095369
2000-01-03  0.964970 -0.359735 -0.180520 -0.100918
2000-01-04 -0.313732  0.024850  0.595347  1.359028
2000-01-05  1.396024  2.192548 -2.010051  0.645951
2000-01-06 -0.766655 -1.088562 -1.176056 -0.821264
2000-01-07 -1.420023 -0.493559 -0.766238 -0.219082
2000-01-08  0.947972  0.292568 -0.542353 -1.200662

In [25]:
# DataFrame을 []로 indexing할 경우 -> Series 반영
df_to_series = df["A"]
df_to_series

2000-01-01   -1.954537
2000-01-02    0.352191
2000-01-03    0.964970
2000-01-04   -0.313732
2000-01-05    1.396024
2000-01-06   -0.766655
2000-01-07   -1.420023
2000-01-08    0.947972
Freq: D, Name: A, dtype: float64

In [26]:
# Series를 []로 indexing할 경우 -> scalar 반영
series_to_scalar = df_to_series["2000-01-01"]
series_to_scalar

-1.9545368446182174

In [29]:
# 물론 인자에 1개 이상의 값을 넣으면 저차원 x
df[2:5]

                   A         B         C         D
2000-01-03  0.964970 -0.359735 -0.180520 -0.100918
2000-01-04 -0.313732  0.024850  0.595347  1.359028
2000-01-05  1.396024  2.192548 -2.010051  0.645951

In [30]:
df[["A", "B"]]

                   A         B
2000-01-01 -1.954537  0.528818
2000-01-02  0.352191 -0.291922
2000-01-03  0.964970 -0.359735
2000-01-04 -0.313732  0.024850
2000-01-05  1.396024  2.192548
2000-01-06 -0.766655 -1.088562
2000-01-07 -1.420023 -0.493559
2000-01-08  0.947972  0.292568

#### 1. loc : Indexing with boolean array
- klkk

#### 0. Different choices for indexing

In [33]:
df.reset_index().loc[:5]

       index         A         B         C         D
0 2000-01-01 -1.954537  0.528818  0.460206  0.179894
1 2000-01-02  0.352191 -0.291922 -0.321364  0.095369
2 2000-01-03  0.964970 -0.359735 -0.180520 -0.100918
3 2000-01-04 -0.313732  0.024850  0.595347  1.359028
4 2000-01-05  1.396024  2.192548 -2.010051  0.645951
5 2000-01-06 -0.766655 -1.088562 -1.176056 -0.821264